---
name: {{ TARGET_NAME_DEPENDENCY }}
type: {{ TARGET_TYPE }}
meta:
  tags: [
      "{{ TARGET_FIRST_TAG }}",
      #### #### #### #### #### #### #### #### #### #### #### ####
      "type_{{ TARGET_TYPE }}",
      #### #### #### #### #### #### #### #### #### #### #### ####
    ]
  authors: [" {{ TARGET_AUTHOR }}"]
  comments:
    - {{ TARGET_TYPE }} - {{ TARGET_NAME_DEPENDENCY }} 

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 

matches:
  $bin_dep_01: .data.exe.path ~= "/[^/]*/(google-chrome|chrome|chromimum|firefox)(-[a-zA-Z0-9._]+)?$"
  $bin_dep_02: .data.ancestors ~= "/[^/]*/(google-chrome|chrome|chromimum|firefox)(-[a-zA-Z0-9._]+)?$"

condition: any of $bin_dep_


# reminder : 
# condition: $is_compression and $not_noise
# condition: any of $bin_dep_
